* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html  {
  font-size: 62.5%;
}

/* Boostrap Overrides */
section,
aside,
article,
div,
button,
p,
a {
  font-size: 2rem;
}

.navbar-brand,
.btn {
  font-size: 2rem;
}

/* My Styles */
#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myFlex {
  display: flex;
  justify-content: space-between;
}

#logo {
  border: 8px solid aquamarine;
  border-radius: 36%;
  cursor: pointer;
}

.lights_on {
  color: rgba(0,0,16,1);
  background-color: white;
}

.lights_off {
  color: white;
  background-color: rgba(0,0,16,1);
}

.spinIt {
  animation: spinit 2s ease infinite;
}

@keyframes spinit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
